
/* variables */
:root {
  --green: #0d6962;
  --gray: #f3f3f3;
}
a:visited,
a {
  text-decoration: none;
  color: #0d6962;
}
a:hover {
  text-decoration: underline;
}
.bold {
  font-weight: 500;
}
#formations,
#projects,
#profil,
#langages,
#hobbies,
#experiences {
  padding-top: 20px;
}
ul {
  margin-top: 6px;
  margin-bottom: 0;
}
td {
  padding: 0px 5px;
}
.text-center {
  width: 85%;
  margin: 0 auto;
  text-align: justify;
  padding: 15px 5px;
}
.trait {
  height: 10px;
  width: 24vw;
  background-color: rgb(193, 120, 120);
  margin-right: 15px;
  margin-top: 7px;
}
.div-titre {
  display: flex;
  justify-content: center;
}
.divider {
  height: 5px;
  width: 9vw;
  background-color: var(--green);
  margin: 15px 10px;
}
.divider-cote {
  height: 5px;
  width: 100px;
  background-color: var(--green);
  margin: 15px 1px;
}
.divider-p {
  height: 5px;
  width: 11vw;
  background-color: var(--green);
  margin: 15px 15px;
}
/* .dividerg {
  display: flex;
  justify-content: center;
  margin-right: 20px;

} */

/* reset */
body,
p,
a,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: medium;
}
li {
  list-style: circle;
  /* list-style: none; */
}
.green {
  color: var(--green);
}
.sous-titre {
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
/* bases style */
/* font */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: montserrat;
  /* font: medium; */
  /* font-weight: normal; */
}
h2 {
  font-weight: normal;
  /* margin-top: -8px;
  margin-left: 10px;
  margin-right: 10px; */
}
.centre {
  text-align: center;
}
h1,
h3 {
  font-weight: normal;
  /* text-align: center; */
  padding-top: 7px;
}
h1 {
  font-size: 36px;
  /* text-align: center; */
}
h2 {
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
}
h3 {
  font-size: 18px;
}

.td-icon {
  color: #0d6962;
  width: 20px;
  margin: auto;
  align-items: center;
}

.table-entete {
  padding-top: 20px;
  margin: 0 auto;
  line-height: 1.8;
}
/* en dessous de 619px */
@media screen and (max-width: 619px) {
  body {
    background-color: white;
    /* margin: 16px; */
    padding: 16px;
  }
  h1,
  h2,
  h3 {
    font-weight: normal;
  }
  #content {
    display: block;
  }
  #titre-ms {
    /* display: none; */
    text-align: center;
  }
  #titre-lg {
    display: none;
  }
  .topnav {
    overflow: hidden;
    min-height: 30px;
    /* background-color: antiquewhite; */
    /* background-color: #fff; */
    position: relative;
  }

  .topnav #myLinks {
    display: none;
    text-transform: uppercase;
    /* font-weight: bold; */
  }
  .topnav #myLinks ul li {
    list-style: none;
  }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    /* background: black;  */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .active {
    background-color: #fff;
    color: black;
  }
  #photo {
    padding-top: 15px;
    margin: 0 auto;
    width: 150px;
    /* background-color: #525659; */
  }
  /* .table-entete {
    margin: 0 auto;
    padding-top: 15px;
    line-height: 1.5;
  } */
  /* .divider-cote {
    height: 5px;
    width: 180px;
    background-color: black;
    margin: 15px 8px;
  } */
  /* .text-center {
    width: 85%;
    margin: 0 auto;
    text-align: justify;
    padding: 15px 5px;
  } */
}

/* au desssus de 620px */
/* small tablet style */
@media screen and (min-width: 620px) {
  #left {
    padding: 20px;
    background-color: var(--gray);
  }
  nav {
    /* visibility: hidden; */
    display: none;
  }
  #titre-ms {
    display: none;
  }
  #content {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    /* padding: 20px;    */
  }
  /* img {
    width: 50%;
  } */
  #photo {
    margin: 0 auto;
    width: 50%;
    /* background-color: #0d6962; */
  }

  /* .table-entete {
    padding-top: 20px;
    margin: 0 auto;
    line-height: 2;
  } */
}
/* large tablet laptop */
@media screen and (min-width: 960px) {
  body {
    background-color: #525659;
  }
  #content {
    margin: 0px auto;
    width: 70%;
    /* background-color: aqua; */
    background-color: white;
    min-height: 100vh;
  }
}

/* large tablet & laptop */
@media screen and (min-width: 1024px) {
  #content {
    margin: 0px auto;
    width: 90%;
    /* background-color: aqua; */
  }
}
/* large tablet & laptop */
@media screen and (min-width: 1440px) {
  #content {
    margin: 0px auto;
    width: 65%;
    /* background-color: aqua; */
  }
  .divider-cote {
    height: 5px;
    width: 80px;
    background-color: var(--green);
    margin: 15px 8px;
  }
}
/* large tablet & laptop */
@media screen and (min-width: 1840px) {
  #content {
    margin: 0px auto;
    width: 50%;
    /* background-color: aqua; */
  }
  .divider-cote {
    height: 5px;
    width: 100px;
    background-color: var(--green);

    /* background-color: black; */
    margin: 15px 8px;
  }
}
@media screen and (min-width: 2560px) {
  #content {
    margin: 0px auto;
    width: 50%;
    /* background-color: aqua; */
  }
  .divider-cote {
    height: 5px;
    width: 200px;
    background-color: var(--green);

    /* background-color: black; */
    margin: 15px 10px;
  }
}

/* html,
body {
  margin: 0;
  background-color: aquamarine;
}

#profil {
  background-color: aqua;
} */
