html,
body {
  margin: 0;
  padding-top: 0;
  width: 100%;
  height: 100%;
  font-family: montserrat;
  background-color: #525659;
}

#content {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
}
p {
  margin: 0;
}

.left {
  background-color: #f2f2f2;
  display: block;
  margin: 0;
}

.right {
  background-color: #fff;
  display: block;
}

#photo {
  width: 100%;
  min-height: 180px;
  margin: 0 auto;
}

#photo img {
  padding-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.entete {
  height: auto;
  width: 100%;
}

.table-entete {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.td-icon {
  width: 20px;
  margin: auto;
  align-items: center;
}

tr {
  line-height: 1.5;
}

/* #profil {
  height: 10000px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top: 10px;
  background-color: azure;
} */
#profil p {
  text-align: justify;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#profil .text {
  padding-top: 10px;
}

#langages {
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top: 10px;
}

#langages p {
  text-transform: capitalize;
}

#hobbies {
  max-height: 230px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding-top: 10px;
}

#titre {
  width: 100%;
  min-height: 170px;
  margin: 0 auto;
  background-color: bisque;
  align-items: center;
}

#experience {
  max-height: 580px;
  margin-top: 0px auto;
}

/* mobile */
@media screen and (max-width: 427px) {
  /* html et body */
  html,
  body {
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    font-family: montserrat;
    font-size: 12px;
  }

  /* taille du main */
  main {
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 100vh;
  }
  #experience {
    width: 90%;
    height: 105vh;
  }

  #formations {
    /* width: 90%; */
    height: 65vh;
  }
  #projets {
    /* width: 90%; */
    max-height: 40vh;
  }
}

/* tablette */
@media only screen and (min-width: 768px) {
  /* html et body */
  html,
  body {
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    font-family: montserrat;
    font-size: 12px;
  }

  /* taille du main */
  main {
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 130vh;
  }

  #langages {
    max-height: 200px;
  }
  #profil {
    max-height: 200px;
  }
  #experience {
    height: 100vh;
  }
  #projets {
    height: 30vh;
    /* background-color: aqua; */
  }
  #formations {
    height: 55vh;
    /* background-color: rgb(28, 50, 50); */
  }
}

/* desktop */
@media only screen and (min-width: 1200px) {
  /* html et body */
  html,
  body {
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    font-family: montserrat;
    background-color: #525659;
    font-size: 16px;
  }

  /* taille du main */
  main {
    margin: 0 auto;
    background-color: #fff;
    width: 50%;
    /* height: 0vh; */
  }

  #langages {
    max-height: 200px;
  }
  /* #experience {
    max-height: 800px;
  } */

  #profil {
    max-height: 800px;
    background-color: aliceblue;
  }
}

#titre h1 {
  line-height: 1.5;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
}
#titre h2 {
  line-height: 1.5;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  text-transform: capitalize;
}
#titre > h3 {
  line-height: 1.5;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  text-transform: capitalize;
}

h3 {
  margin: 0;
}
