:root {
  --green: #0d6962;
  --gray: #f3f3f3;
}

/* boutons  */
.bouton {
  background-color: #0d6962;
  color: white;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}
.tableau {
  height: 40px;
  /* background-color:aqua; */
}
a:visited,
a {
  text-decoration: none;
  color: #0d6962;
}
a:hover {
  text-decoration: underline;
}
.bold {
  font-weight: 500;
}
#formations,
#projects,
#profil,
#langages,
#hobbies,
#experiences {
  padding-top: 20px;
}
ul {
  margin-top: 6px;
  margin-bottom: 0;
}
td {
  padding: 0px 5px;
}
.text-center {
  width: 85%;
  margin: 0 auto;
  text-align: justify;
  padding: 15px 5px;
}

.div-titre {
  display: flex;
  justify-content: center;
}
.divider {
  height: 5px;
  width: 9vw;
  background-color: var(--green);
  margin: 15px 10px;
}
.divider-cote {
  height: 5px;
  width: 100px;
  /* background-color: red; */
  background-color: var(--green);
  margin: 15px 1px;
}
.divider-p {
  height: 5px;
  width: 11vw;
  background-color: var(--green);
  margin: 15px 15px;
}

/* reset */
body,
p,
a,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: medium;
}
li {
  list-style: circle;
}
.green {
  color: var(--green);
}
.sous-titre {
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}
/* font */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: montserrat;
}
h2 {
  font-weight: normal;
}
.centre {
  text-align: center;
}
h1,
h3 {
  font-weight: normal;
  padding-top: 7px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
}
h3 {
  font-size: 18px;
}

.td-icon {
  color: #0d6962;
  width: 20px;
  margin: auto;
  align-items: center;
}

.table-entete {
  padding-top: 20px;
  margin: 0 auto;
  line-height: 1.8;
}
/* en dessous de 619px */
@media screen and (max-width: 619px) {
  body {
    background-color: white;
    padding: 16px;
  }
  h1,
  h2,
  h3 {
    font-weight: normal;
  }
  #content {
    display: block;
  }
  #titre-ms {
    text-align: center;
  }
  #titre-lg {
    display: none;
  }
  .topnav {
    overflow: hidden;
    min-height: 30px;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
    text-transform: uppercase;
  }
  .topnav #myLinks ul li {
    list-style: none;
  }
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .active {
    background-color: #fff;
    color: black;
  }
  #photo {
    padding-top: 15px;
    margin: 0 auto;
    width: 150px;
  }
  .divider {
    height: 5px;
    width: 20vw;
    background-color: var(--green);
    margin: 15px 10px;
  }
  .tab {
    display: none;
  }
  /* pour la partie projet */
  .mobile {
    display: block;
  }
  .cent {
    width: 100%;
    /* background-color: #0d6962; */
  }
  .tab-projet {
    background-color: var(--gray);
    /* color: white; */
    height: 40px;
  }
  .w25 {
    width: 25%;
  }
  .w75 {
    width: 75%;
  }
  .ligne {
    height: 40px;
  }
  .lien-projet {
    background-color: var(--green);
    color: white;
    /* min-height: 70px; */
    padding: 12px;
    border-radius: 10px;
  }
  .last-ligne {
    height: 80px;
    /* background-color: antiquewhite; */
    /* width: 200px; */
    /* width: 100%; */
  }
  .centre-projet {
    text-align: center;
  }
  /* .imp {
    color: var(--green);
    font-weight: 500;
    text-decoration: underline;
  } */
}

/* au desssus de 620px */
@media screen and (min-width: 620px) {
  .mobile {
    display: none;
  }
  #left {
    padding: 20px;
    background-color: var(--gray);
  }
  nav {
    display: none;
  }
  #titre-ms {
    display: none;
  }
  #content {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
  }
  #photo {
    margin: 0 auto;
    width: 50%;
  }
  /* .divider {
    height: 5px;
    width: 10vw;
    background-color: var(--green);
    margin: 15px 10px;
  } */
}
/* au dessous de 960px */
@media screen and (min-width: 960px) {
  body {
    background-color: #525659;
  }
  #content {
    margin: 0px auto;
    width: 80%;
    background-color: white;
    min-height: 100vh;
  }
}

/* au dessous de 1024px */
@media screen and (min-width: 1024px) {
  #content {
    margin: 0px auto;
    width: 90%;
  }
}
/* au dessus de 1440px */
@media screen and (min-width: 1440px) {
  #content {
    margin: 0px auto;
    width: 65%;
  }
  .divider-cote {
    height: 5px;
    width: 80px;
    background-color: var(--green);
    margin: 15px 8px;
  }
}
/* de dessous de 1840px */
@media screen and (min-width: 1840px) {
  #content {
    margin: 0px auto;
    width: 50%;
  }
  .divider-cote {
    height: 5px;
    width: 100px;
    background-color: var(--green);
    margin: 15px 8px;
  }
}
/* au dessous de 2560px */
@media screen and (min-width: 2560px) {
  #content {
    margin: 0px auto;
    width: 50%;
  }
  .divider-cote {
    height: 5px;
    width: 200px;
    background-color: var(--green);
    margin: 15px 10px;
  }
}
